aside {
  padding-top: 30px;
  padding-bottom: 60px
}

aside img {
  float: left;
}

aside h3 {
  padding-left: 100px;
  font-size: 1.6em;
  padding-bottom: 10px;
  color: #555;
}

aside p {
  padding-left: 100px;
  width: 65%;
  margin: 0;
  text-indent: 0;

}

aside button {
  float: right;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  padding: 15px 40px;
  background: #b8705a;
  color: #fff;
  font-size: 1.2em;
  border: none;
}

section hr {
  border-bottom: 1px solid #eee;
  height: 0;
}


footer section p{
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}