@import 'reset.css';
@import 'base.css';
@import 'layout.css';
@import 'module.css';

@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');

* {
  font-family: times;
}


nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

#logo {
  float: left;
  padding-bottom: 25px;
  color: black;
  text-decoration: none;
}

#logo img {
  float: left;
}

#logo h1 {
  padding-left: 50px;
  font-family: 'Yellowtail', cursive;
  font-size: 2.4em;
}

#slogan {
  width: 250px;
  padding-left: 55px;
  color: #a3a4a2;
  font-family: 'Abel', sans-serif;
  font-size: .65em;
  text-transform: uppercase;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  padding-right: 2px;
}

hr {
  clear: both;
  border: 0;
  height: 13px;
  background-image: url('../img/hr.png');
}



.print, .date {
  color: #a9a8a5;
  font-family: 'Abel', sans-serif;
  font-size: .8em;
  margin: 0;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 33px;
}

.date {
  float: left;
}

.print {
  text-decoration: none;
  padding-left: 30px;
  float: right;
}

.print img {
  margin-right: 3px;
}

main p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.3em;
  text-indent: 30px;
  margin: 20px 0px;
}

input {
  font-family: 'Patrick Hand', cursive;
}

.recipe {
  letter-spacing: .1em;
  font-family: 'Patrick Hand', cursive;
  color: #666a42;
  background-image: url("img/list-bg.png");
  height: 260px;
  padding: 37px 0 0 60px;
  margin: 40px 0;
}

.recipe li {
  float: left;
  width: 40%;
  font-size: 1.3em;
  line-height: 31px;
}



}
